{# src/Stsbl/SchoolCertificateManagerConnectorBundle/Resources/views/Admin/index.html.twig #}
{% extends "IServAdminBundle::page.html.twig" %}

{% block page_title %}
    {{ _("Certificate Management") }} - {{ _("Administration") }}
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('Master password') }}</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            {{ _('Everyone who should access the certificate management section need to know this password. After you you changed the password, note it down. If you forget it, you can only reset it via the root console.') }}
        </div>
        {%if emptyMasterPassword %}
            <div class="alert alert-warning">
                {{ _('Currently there is no master password set. Please enter a new master password in the formular and press Update password.') }}
            </div>
        {% endif %}
        {{ form(masterpassword_form, {'style': null}) }}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('User passwords') }}</h3>
    </div>
    <div class="panel-body">
        <p>{{ _('Every user which should access the certificate management section needs also to have an individual user password.') }}</p>
        <p><a class="btn btn-primary" href="{{ path('admin_scmc_userpassword_index') }}"><span class="glyphicon glyphicon-arrow-right"></span>{{ _('Set up user passwords') }}</a></p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('Servers') }}</h3>
    </div>
    <div class="panel-body">
        <p>{{ _('Configure the servers which are the targets for up- and downloading.') }}</p>
        <p><a class="btn btn-primary" href="{{ path('admin_scmc_server_index') }}"><span class="glyphicon glyphicon-arrow-right"></span>{{ _('Set up servers') }}</a></p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('Allowed Rooms') }}</h3>
    </div>
    <div class="panel-body">
        <p>{{ _('Configure the rooms which are allowed to access the certificate management server.') }}</p>
        <p><a class="btn btn-primary" href="{{ path('admin_scmc_rooms_index') }}"><span class="glyphicon glyphicon-arrow-right"></span>{{ _('Set up allowed rooms') }}</a></p>
    </div>
</div>
{% endblock %}
