{# src/Stsbl/SchoolCertificateManagerBundle/Resources/views/Admin/setuserpassword.html.twig #}
{% extends "IServAdminBundle::page.html.twig" %}

{% block page_title %}
{{ _('Set user password') }} - {{ fullname }} - {{ _('User passwords') }} - {{ _('Administration') }}
{% endblock %}

{% block content %}
    <h1>{{ __('Set a new user password for %s', fullname) }}</h1>
    <div class="form-actions">
        <a class="btn btn-default" href="{{ path('admin_scmc_userpassword_show', {'id': act}) }}"><span class="glyphicon glyphicon-chevron-left"></span>{{ _('Back to details') }}</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {% if permissionnotice %}
                <div class="alert alert-warning">{{ _('The user has currently not the privilege "Access the connector to up- and download data". Make sure that the User also have this privilege assigned. Otherwhile the certificate management will not shown in the IDesk.') }}</div>
            {% endif %}
            {{ form(password_form) }}
        </div>
    </div>
{% endblock %}
