{# src/Stsbl/SchoolCertificateManagerConnectorBundle/Reousrces/views/Login/login.html.twig #}
{% extends "IServCoreBundle::page.html.twig" %}

{% block page_title %}
    {{ _('Login') }} - {{ _('Certificate Management') }} 
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/compiled/scmc.css' '@StsblSchoolCertificateManagerConnectorBundle/Resources/public/css/scmc.less' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <div id="scmc-login" class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="text-warning">
                            {{ icon('lock') }} {{ _('Certificate Management') }}
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    {% if not emptyMasterPassword %}
                        {% if not error == '' %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endif %}
                        <form name="form" class="form ng-pristine ng-valid" role="form" action="{{ path('scmc_login') }}" method="post">
                            {{ form_row(login_form._token) }}
                            <div class="form-group">
                                {{ form_widget(login_form.masterpassword) }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-warning" type="submit">{{ icon('pro-log-in') }} {{ _('Login') }}</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ _('Currently there is no master password set. Please contact your administrator.') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}