{% extends '@IServCore/page.html.twig' %}

{% block page_title %}{{ _('Data Download') }} - {{ _('Certificate Management') }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => crud.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/crud.js', 'crud') }}"></script>
{% endblock %}