{% extends '@IServCore/page.html.twig' %}

{% block page_title %}{{ _('Data Upload') }} - {{ _('Certificate Management') }}{% endblock %}

{% block content %}
    <div class="alert alert-warning">{{ _('Before you upload new class data, make sure that you have downloaded a security copy of the results. All existing data in the Jahrgang* folder inside the /Zeugnisse/ folder on the certificate management server will deleted.') }}</div>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => crud.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/crud.js', 'crud') }}"></script>
{% endblock %}