{# src/Stsbl/SchoolCertificateManagerConnectorBundle/Resources/views/Public/block.html.twig #}
{% extends 'base.html.twig' %}

{% set title = _('Access to school certificate management server not allowed') %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-push-1 col-sm-12 col-xs-12">
            <div class="error-message">
                <h1>403</h1>

                <h2 class="text-uppercase">{{ title }}</h2>

                <p>
                    {{ _('Your administrator set, that the server is not reachable from your host. The access is allowed from the following rooms:') }}
                </p>

                <ul class="room-list">
                    {%  for room in rooms %}
                        <li>{{ room }}</li>
                    {%  else %}
                        {%  if not invert %}
                            <li>{{ _('No room is allowed.') }}</li>
                        {%  else %}
                            <li>{{ _('All rooms are allowed.') }}y</li>
                        {%  endif %}
                    {%  endfor %}
                </ul>

                <p>
                    {{ _('The access is also allowed from the internet connection at home.') }}
                </p>
                <div class="error-actions">
                    <a href="https://{{ config.get('Servername') }}/iserv/" class="btn btn-primary btn-lg">{{ icon('home') }}{{ _('To the IDesk') }}</a>
                </div>
            </div>
        </div>
     </div>
 </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => error.css -->
    {% endif %}
    {% stylesheets output='css/compiled/error.css' filter='cssrewrite' filter='?uglifycss'
        '@IServCoreBundle/Resources/public/css/pages/error.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
