{# src/Stsbl/SchoolCertificateManagerConnectorBundle/Resources/views/Public/block.html.twig #}
{% extends 'base.html.twig' %}

{% set title = _('School certificate management server could not be reached') %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-push-1 col-sm-12 col-xs-12">
            <div class="error-message">
                <h1>503</h1>

                <h2 class="text-uppercase">{{ title }}</h2>

                <p>
                    {{ _('The school certificate management server could not be reached. Please contact your administrator.') }}
                </p>
                <div class="error-actions">
                    <a href="https://{{ config.get('Servername') }}/iserv/" class="btn btn-primary btn-lg">{{ icon('home') }}{{ _('To the IDesk') }}</a>
                </div>
            </div>
        </div>
     </div>
 </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => error.css -->
    {% endif %}
    {% stylesheets output='css/compiled/error.css' filter='cssrewrite' filter='?uglifycss'
        '@IServCoreBundle/Resources/public/css/pages/error.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
