{# src/Stsbl/SchoolCertificateManagerConnectorBundle/Resources/views/Management/upload.html.twig #}
{% extends "IServCoreBundle::page.html.twig" %}

{% block page_title %}{{ _('Data Download') }} - {{ _('Certificate Management') }}{% endblock %}

{% block content %}
    <h1> {{ _('Data Download') }}</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => scmc-select2.js -->
    {% endif %}
    {% javascripts output='js/compiled/scmc-select2.js' filter='?uglifyjs2' '@IServCrudBundle/Resources/public/js/select2.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}