{# src/Stsbl/SchoolCertificateManagerConnectorBundle/Resources/views/Management/upload.html.twig #}
{% extends "IServCoreBundle::page.html.twig" %}

{% block page_title %}{{ _('Data Upload') }} - {{ _('Certificate Management') }}{% endblock %}

{% block content %}
    <h1> {{ _('Data Upload') }}</h1>
    <div class="alert alert-warning">{{ _('Before you upload new class data, make sure that you have downloaded a security copy of the results. All existing data in the /Zeugnisse folder on the certificate management server will deleted.') }}</div>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}