{# src/Stsbl/SchoolCertificateManagerConnectorBundle/Resources/views/Management/upload.html.twig #}
{% extends "IServCoreBundle::page.html.twig" %}

{% block page_title %}{{ _('Data Upload') }} - {{ _('Certificate Management') }}{% endblock %}

{% block content %}
    <div class="alert alert-warning">{{ _('Before you upload new class data, make sure that you have downloaded a security copy of the results. All existing data in the Jahrgang* folder inside the /Zeugnisse/ folder on the certificate management server will deleted.') }}</div>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => scmc-select2.js -->
    {% endif %}
    {% javascripts output='js/compiled/scmc-select2.js' filter='?uglifyjs2' '@IServCrudBundle/Resources/public/js/select2.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}